$blue-dark: #0047b2;
$blue-light: #0d6efd;
$cyan: #0dcaf0;
$footer: #151414;

$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$primary: $blue-dark;
$secondary: $cyan;

$accordion-padding-y: 1.5rem;
$accordion-padding-x: 1.5rem;
// SVG Icons removed to fallback to CSS overrides in _faq.scss

@import "../node_modules/bootstrap/scss/bootstrap.scss";
