@use "custom" as *;

[data-bs-theme="dark"] {
  body {
    background-color: $black;
    color: $gray-100;
  }

  .navbar {
    background-color: rgba($black, 0.95) !important;
    &.menu {
      background-color: $black;
    }
  }

  .nav-link {
    color: $gray-300;
    &:hover,
    &.active {
      color: $primary;
    }
  }

  .bg-white {
    background-color: $gray-900 !important;
    color: $gray-100 !important;
    border: 1px solid $gray-800;
  }

  .text-white {
    color: $white !important;
  }

  .text-black,
  .text-dark {
    color: $gray-100 !important;
  }

  // Page Header
  .page-header {
    h1,
    .lead,
    p {
      color: $white !important;
      text-shadow: none;
    }
  }

  .intro-section {
    background: $black;
    .display-2--intro {
      color: $white;
    }
    h1 span {
      color: $white !important;
    }
  }

  .skills {
    background-color: $black;
    .lead {
      color: $gray-100;
    }
  }

  .skill-card {
    background: linear-gradient(145deg, $gray-900, $black);
    border-color: $gray-800;
    box-shadow: 0 4px 15px rgba($white, 0.05);

    .skill-name {
      color: $gray-200;
    }

    &:hover {
      background: $gray-900;
      box-shadow: 0 15px 35px rgba($primary, 0.2);
    }
  }

  .services {
    background-color: $black;
    color: $gray-200;

    h2,
    h3 {
      color: $white !important;
    }

    .display-3--title {
      color: $white !important;
    }
  }

  .accordion-item {
    background-color: $gray-900;
    color: $gray-100;
    border-color: $gray-800;
  }

  .accordion-button {
    background-color: $gray-900;
    color: $gray-100;

    &:not(.collapsed) {
      background-color: rgba($primary, 0.2);
      color: $primary;
    }

    &::after {
      filter: invert(1);
    }
  }

  .form-control {
    background-color: $gray-900;
    border-color: $gray-800;
    color: $white;

    &:focus {
      background-color: $gray-900;
      color: $white;
      border-color: $primary;
    }
    &::placeholder {
      color: $gray-500;
    }
  }

  .btn-rounded {
    background-color: $gray-800;
    border-color: $gray-700;
    color: $white;
    span i {
      color: $white;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $white;
  }

  p {
    color: $gray-400;
  }
}
