@use "custom";

@use "components/animations";
@use "components/buttons";
@use "components/mixins";
@use "components/typography";

@use "sections/navbar";
@use "sections/intro-section";
@use "sections/skills";
@use "sections/services";
@use "sections/faq";
@use "sections/get-started";
@use "sections/footer";
