@use "../custom" as *;
@use "../components/mixins" as *;

.intro-section {
  @include gradient;
  padding: 10rem 0 0 0;
  width: 100%;
  height: 100%;
}

.intros {
  .image-box {
    position: relative;

    a {
      // @include absoluteCenter;

      span {
        i {
          font-size: 6rem;
          color: $secondary;
        }
      }
    }
  }
}

.border-animation {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6rem;
  height: 6rem;
  margin-top: -3rem;
  margin-left: -3rem;
  border: 0.55rem solid $white;
  border-radius: 50%;
  animation: pulse-border 1.5s linear infinite;

  &--border-1 {
    animation-delay: 1s;
  }

  &--border-2 {
    animation-delay: 1.5s;
  }
}
