@use "../custom" as *;

@font-face {
  font-family: "Source Sans 3";
  src: url("../fonts/SourceSans3VF-Upright.otf.woff2");
}

@font-face {
  font-family: "Source Sans 3 Italic";
  src: url("../fonts/SourceSans3VF-Italic.otf.woff2");
}

@font-face {
  font-family: "Source Serif 4";
  src: url("../fonts/SourceSerif4Variable-Roman.otf.woff2");
}

@font-face {
  font-family: "Source Serif 4 Italic";
  src: url("../fonts/SourceSerif4Variable-Italic.otf.woff2");
}

@font-face {
  font-family: "Source Code Pro";
  src: url("../fonts/SourceCodeVF-Upright.otf.woff2");
}

@font-face {
  font-family: "Source Code Pro Italic";
  src: url("../fonts/SourceCodeVF-Italic.otf.woff2");
}

.navbar-brand {
  font-family: "Source Serif 4";
}

body {
  font-family: "Source Sans 3";
}

code {
  font-family: "Source Code Pro";
}

h2,
h3,
h4 {
  font-family: "Source Serif 4";
}

h2.accordion-header {
  font-family: "Source Sans 3";
}

.skill-name {
  font-family: "Source Code Pro";
}

.display-2 {
  margin-bottom: 1rem;
  text-transform: capitalize;

  &--intro {
    display: inline-block;
    font-weight: 700;
    font-family: "Source Serif 4";
  }

  &--description {
    font-size: 1rem;
    display: block;
    margin-top: 1.2rem;
    text-transform: none;
    font-family: "Source Sans 3";

    @include media-breakpoint-up(lg) {
      font-size: 1.4rem;
      display: inline-block;
    }
  }
}

.heading-line::before {
  content: "";
  width: 10rem;
  height: 0.1rem;
  display: block;
  margin: 0 auto;
  background-color: $primary;
}

.heading-line::after {
  content: "";
  width: 2rem;
  padding-top: 0.5rem;
  height: 0.2rem;
  display: block;
  margin: 0 auto;
  margin-bottom: 1rem;
  background-color: $primary;
}

.display-3 {
  font-family: "Source Serif 4";

  &--title {
    font-size: 1.2rem;
    text-transform: capitalize;
    font-weight: 600;
    font-family: "Source Serif 4";
    display: inline-block;
    background-image: linear-gradient(to right, $primary, $secondary);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @include media-breakpoint-up(lg) {
      font-size: 1.8rem;
    }
  }

  &--brief {
    font-family: "Source Serif 4";
  }
}

.border-right {
  border-right: 0.1rem solid $gray-300;
  height: 100%;
}

.gradient {
  background: linear-gradient(
    to right,
    rgba($primary, 0.95),
    rgba($secondary, 0.95)
  );
}
